In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('cursos-prouni-pb-jpa.csv')

In [4]:
df.head()

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,PB,Joao Pessoa,Centro Universitário de João Pessoa - Unipê - ...,CAMPUS UNIPÊ - Água Fria,Administração,Bacharelado,Matutino,529.00,5.0,4.0,NaN,NaN,609.94,607.2,NaN,NaN
1,PB,Joao Pessoa,Centro Universitário Internacional - Uninter -...,PAP JOÃO PESSOA 01 - Miramar,Administração,Bacharelado,Curso a Distância,298.00,1.0,NaN,NaN,NaN,582.64,NaN,NaN,NaN
2,PB,Joao Pessoa,Centro Universitário Internacional - Uninter -...,PAP JOÃO PESSOA 02 - Expedicionários,Administração,Bacharelado,Curso a Distância,298.00,NaN,NaN,1.0,NaN,NaN,NaN,547.8,NaN
3,PB,Joao Pessoa,Faculdade Devry João Pessoa - DVJP,CAMPUS SEDE - Miramar,Administração,Bacharelado,Noturno,864.67,NaN,NaN,NaN,100.0,NaN,NaN,450.0,NaN
4,PB,Joao Pessoa,Faculdade Devry João Pessoa - DVJP,CAMPUS SEDE - Miramar,Administração,Bacharelado,Matutino,864.67,NaN,NaN,NaN,100.0,NaN,NaN,450.0,NaN

In [5]:
df.tail()

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
355,PB,Joao Pessoa,Centro Universitário Internacional - Uninter -...,PAP JOÃO PESSOA 01 - Miramar,Teologia,Bacharelado,Curso a Distância,189.00,NaN,NaN,1.0,NaN,NaN,NaN,568.88,NaN
356,PB,Joao Pessoa,Centro Universitário Internacional - Uninter -...,PAP JOÃO PESSOA 02 - Expedicionários,Teologia,Bacharelado,Curso a Distância,189.00,1.0,NaN,1.0,1.0,631.42,NaN,604.00,529.3
357,PB,Joao Pessoa,Universidade Cruzeiro do Sul - UNICSUL,"COESP - JOÃO PESSOA, PARAÍBA - Centro",Teologia,Bacharelado,Curso a Distância,256.86,NaN,NaN,1.0,NaN,NaN,NaN,561.42,NaN
358,PB,Joao Pessoa,Faculdade Paraíbana - FAP,CAMPUS - JOÃO PESSOA - MIRAMAR - Miramar,Turismo,Bacharelado,Noturno,474.27,2.0,1.0,NaN,NaN,580.22,558.24,NaN,NaN
359,PB,Joao Pessoa,Instituto Paraibano de Ensino Renovado - INPER,CAMPUS - JOÃO PESSOA - JARDIM MARIZÓPOLIS - J...,Turismo,Bacharelado,Noturno,560.89,2.0,1.0,NaN,NaN,591.16,548.48,NaN,NaN

In [6]:
df.columns

Index(['uf_busca', 'cidade_busca', 'universidade_nome', 'campus_nome', 'nome',
       'grau', 'turno', 'mensalidade', 'bolsa_integral_cotas',
       'bolsa_integral_ampla', 'bolsa_parcial_cotas', 'bolsa_parcial_ampla',
       'nota_integral_ampla', 'nota_integral_cotas', 'nota_parcial_ampla',
       'nota_parcial_cotas'],
      dtype='object')

In [7]:
df.shape

(360, 16)

In [8]:
df.nunique()

uf_busca                  1
cidade_busca              1
universidade_nome        29
campus_nome              34
nome                     82
grau                      3
turno                     5
mensalidade             183
bolsa_integral_cotas     11
bolsa_integral_ampla     14
bolsa_parcial_cotas       3
bolsa_parcial_ampla      17
nota_integral_ampla     290
nota_integral_cotas     207
nota_parcial_ampla       74
nota_parcial_cotas        7
dtype: int64

In [9]:
df.mensalidade.max()

np.float64(8350.0)

In [10]:
df.mensalidade.min()

np.float64(149.0)